:root {
  --primario: #ffc107;
  --secunadrio: #0097a7;
  --oscuro: #212121;
  --gris:#757575;

  --anchopantalla: 1200px;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "krub", sans-serif;
  min-height: 100%;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  margin: 0;
}
h2,
h3 {
  text-align: center;
}
h3{
  color: var(--secunadrio);
  font-weight: 400;
  font-size: 3rem;
}
p{
  font-size: 1.8rem;
  line-height: 2;
  
}
.site-header {
  background-color: #ffffff;
}
.site-header nav {
  max-width: var(--anchopantalla);
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-header nav a {
  color: var(--oscuro);
  font-size: 2.2rem;
  text-decoration: none;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .site-header nav a {
    margin-bottom: 0;
  }
}
.site-header nav a:last-of-type {
  margin-bottom: 0;
}

.hero {
  height: 45rem;
  background-image: url(../img/hero.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.contenedor-hero {
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}
.contenedor-hero i {
  font-size: 5rem;
  color: var(--primario);
}
.boton {
  background-color: var(--secunadrio);
  padding: 1rem 5rem;
  display: inline-block;
  margin-top: 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.2rem;
  border-radius: 0.5rem;
  border: none;
}
.boton:hover{
  cursor: pointer;
}

.contenedor {
  max-width: var(--anchopantalla);
  margin: 3rem auto;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 13px 97px -9px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 13px 97px -9px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 13px 97px -9px rgba(0, 0, 0, 0.42);
}

.contenedor-servicios{
  margin-top: 3rem;
}
@media (min-width: 768px ) {
  .contenedor-servicios{
    display: flex;
    justify-content: space-between;
  }
  .servicio{
    flex: 0 0 calc(33.3% - 1rem);
  }

}
.servicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

}
.iconos{
  font-size: 3rem;
}
form{
  background-color: var(--gris);
  padding: 2rem;
  border-radius: 1rem;
  margin: 3rem;
}
form legend{
  text-align: center;
  font-size: 2rem;
  color: var(--primario);
  margin: 3rem 0;

}
@media (min-width: 768px) {
  form{
    max-width: 800px;
    margin: 3rem auto;
  }
  .contenedor-campos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .campo{
    flex: 0 0 calc(50% - 1rem);
  }
  
}
.campo{
  display: flex;
  margin-bottom: 2rem;

}
.campo label{
  flex: 0 0 90px;
  padding-top: .5rem;
  color: white;
}
.campo input{
  flex: 1;
  height: 4rem;
}
.campo textarea{
  height: 6rem;
  flex: 1;
}
.w-100{
  flex: 0 0 100%;
}
.enviar{
  display: flex;
  justify-content: center;
}

